doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/adminStyle.css')
    link(rel="stylesheet" href="/stylesheets/ext/material.min.css")
    script(src="/javascripts/ext/material.min.js")

    script(type="text/javascript" src="/javascripts/ext/sortable.js")
    // include libraries(jQuery, bootstrap)
    link(href='https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css', rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')
    script(src='https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js')
    // include summernote css/js
    link(href='https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css', rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js')


  body
    #navbar
      #navbarMain
        a(href="/adminMain/")#home Home
          a(href="/adminMain/search/")#search Search
            a(href="/adminMain/options/")#options Options
        a(href="/adminMain/listAll/")#news Applicant Lists

      #navbarRight
        a(href="/adminMain/settings/")=  "⚙️" + session.currentUser
        a(href="/admin/logout/")#logout Logout
    #mainContent
      block content
