extends ../layout

block content
  center
    h3 Change Password successfully! 
    h5 Please login again!
  #contentOfChangedPw
    center 
      br
      a(href="/adminMain/").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accen Re-login
      a(href="/").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accen Home page
