extends adminLayout

block content
  center 
    h4 Detail of Application No.#{json._id}
    table#ListAllTable
      include detailModules/applicantBlock.pug
      include detailModules/parentBlock.pug
      include detailModules/uploadedFiles.pug
