extends ../layout

block content
  center 
    h1 Initial an admin 
  
    #mainDivOnLoginPage
      form(method="post",action="")
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input(type="text" name="username" value="admin" readonly)#inputUsername.mdl-textfield__input
          label(for="inputUsername").mdl-textfield__label Username
        br
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input(type="password" name="password")#inputPassword.mdl-textfield__input
          label(for="inputPassword").mdl-textfield__label Password
        br
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input(type="email" name="email")#inputPassword.mdl-textfield__input
          label(for="inputPassword").mdl-textfield__label E-Mail
        br
        div 
        h6 
         b Accept Application 
        #acceptNew(required)  
          label(for="yes").mdl-radio.mdl-js-ripple-effect
          input(type="radio" id="yes" name="acceptable" value="true" checked).mdl-radio__button
          span.mdl-radio__label Yes
          label(for="female").mdl-radio.mdl-js-ripple-effect
          input(type="radio" id="female" name="acceptable" value="false").mdl-radio__button
          span.mdl-radio__label No
        h6
          b Message When not accept new application
        textarea(name="mdNotAccept" rows="10" required)  #Message here
        h6
          b Registesion Attention Message (support 
          a(href="https://guides.github.com/features/mastering-markdown/" target="new_blank") Markdown
          b )
        textarea(name="mdAttention" rows="10" required) #Message about registration
        br
        h6
          b Registesion Terms (support 
          a(href="https://guides.github.com/features/mastering-markdown/" target="new_blank") Markdown
          b )
        textarea(name="mdTerms" rows="10") #Terms and privacy.
        br
          
        input(type="submit" value="DONE").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
