doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/ext/material.min.css")
    script(src="/javascripts/ext/material.min.js")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/parentAjax.js")
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header
        .mdl-layout__header-row
          a.mdl-button.mdl-js-button--fab.mdl-button--mini-fab.mdl-button--raised(href="/parent" style="color: white;") ⇦Back
          // Title
          span.mdl-layout-title= " Primary School Registesion System"
          // Add spacer, to align navigation to the right
          .mdl-layout-spacer
          // Navigation. We hide it in small screens.
          nav.mdl-navigation.mdl-layout--large-screen-only
    
      main.mdl-layout__content
        .page-content
          // Your content goes here
          block content
