extends adminLayout

block content
  h1 Applicants List
  script(src="/javascripts/tableHideattr.js")
  table(border="1")
    tr
      each v, index in ['First Name(Eng)' , 'Last Name(Eng)' , 'First Name(Chi)' , 'Last Name(Chi)', 'Spoken Language', 'Gender', 'Age', '	Birthday', 'Nationality', 'Place Of Birth', 'Religion', 'Religious Name', 'Embrace Date', 'Religious Denomination', 'E-Mail', '	Address', 'Telephone']
        if index % 6 == 0
          tr
        td
          div(onclick="clickCheckbox(this)")= v
            if index <= 8
              input(type="checkbox" onchange="attrSelectChecked(this,"+ index + ")" checked) 
            else 
              input(type="checkbox" onchange="attrSelectChecked(this,"+ index + ")") 
            
  table#ListAllTable.sortable
    tr 
      td First Name(Eng)
      td Last Name(Eng)
      td First Name(Chi)
      td Last Name(Chi)
      td Spoken Language
      td Gender 
      td Age 
      td Birthday
      td Nationality
      td Place Of Birth
      td Religion
      td Religious Name
      td Embrace Date 
      td Religious Denomination 
      td E-Mail
      td Address 
      td Telephone
      td View
    each contentObj in json
      a(href="/adminMain/detail/"+contentObj._id)
        tr 
          td= contentObj.applicantInfo.eFirstName
          td= contentObj.applicantInfo.eLastName
          td= contentObj.applicantInfo.cFirstName
          td= contentObj.applicantInfo.cLastName
          td= contentObj.applicantInfo.spokenLanguage
          td= contentObj.applicantInfo.gender
          td= contentObj.applicantInfo.age
          td= new Date(contentObj.applicantInfo.birthday).toDateString()
          td= contentObj.applicantInfo.nation
          td= contentObj.applicantInfo.placeOfBirth
          td= contentObj.applicantInfo.religion
          td= contentObj.applicantInfo.religiousName
          td= new Date(contentObj.applicantInfo.embraceDate).toDateString()
          td= contentObj.applicantInfo.religiousDenomination
          td= contentObj.applicantInfo.email
          td= contentObj.applicantInfo.address
          td= contentObj.applicantInfo.telephone
          td
            a(href="/adminMain/detail/"+contentObj._id) View
