extends layout

block content
  center
    h1 Login

    #mainDivOnLoginPage
      form(method="post",action="")
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input(type="text" name="username" require)#inputUsername.mdl-textfield__input
          label(for="inputUsername").mdl-textfield__label Username
        br
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input(type="password" name="password" require)#inputPassword.mdl-textfield__input
          label(for="inputPassword").mdl-textfield__label Password
        br
        p= msg
        input(type="submit" value="Login").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
      h5
        b Forgot Password?
        a(href="/adminMain/resetPw") Reset!
