extends layout

block content
  center
    h3 You have been logout successfully!
    #contentOfLogout
      center
        br
        a(href="/admin/").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent Login again
        br
        a(href="/").mdl-button.mdl-js-button.mdl-button--raised Home page
