extends adminLayout

block content
  center
    script(src='/javascripts/summernote_onload.js')
    h1= title
    p Welcome to admin main page
    form(method="post")
      h6
       b Accept Application
      #acceptNew(required)
        if o.acceptable
            label(for="yes").mdl-radio.mdl-js-ripple-effect
            input(type="radio" id="yes" name="acceptable" value="true" checked).mdl-radio__button
            span.mdl-radio__label Yes
            label(for="female").mdl-radio.mdl-js-ripple-effect
            input(type="radio" id="female" name="acceptable" value="false").mdl-radio__button
            span.mdl-radio__label No
        else
          label(for="yes").mdl-radio.mdl-js-ripple-effect
          input(type="radio" id="yes" name="acceptable" value="true").mdl-radio__button
          span.mdl-radio__label Yes
          label(for="female").mdl-radio.mdl-js-ripple-effect
          input(type="radio" id="female" name="acceptable" value="false" checked).mdl-radio__button
          span.mdl-radio__label No
      h4
        b Message When not accept new application
      #smNotAccept
      textarea(name="mdNotAccept" rows="10" style="display: none;")#mdNotAccept
        if o
          =o.mdNotAccept
      h4
        b Registesion Attention Message
      #smAttention
      textarea(name="mdAttention" rows="10" style="display: none;")#mdAttention
        if o
          =o.mdAttention

      br
      h4
        b Registesion Terms
      #smTerms
      textarea(name="mdTerms" rows="10" style="display: none;")#mdTerms
        if o
          =o.mdTerms
      br
      input(type="submit").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
