extends layout

block content
  center
    h1 Reset Password

    #mainDivOnLoginPage
      form(method="post",action="/adminMain/resetPw")
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input(type="text" name="username" require)#inputUsername.mdl-textfield__input
          label(for="inputUsername").mdl-textfield__label Username
        br
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input(type="email" name="email" require)#inputemail.mdl-textfield__input
          label(for="inputPassword").mdl-textfield__label email
        br
        p= msg
        input(type="submit" value="Reset Password").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
