extends adminLayout

block content
  h1= title
  script(src="/javascripts/searchFunction.js")
  script(src="/javascripts/tableHideattr.js")
  script(src="/javascripts/searchPicker.js")
  center
    a(onclick="showSearchBar()")#txtSeatch Toggle Search/Result
    form(action="" method="post")#searchForm
      select(onchange="onSelectChange(this);")#searchPicker
        option(value='') 
        option(value='sEName') English Name
        option(value='sCName') Chinese Name
        option(value='sNation') Nation
        option(value='sBirth') Place Of birth
        option(value='sRelogion') Religion
        option(value='sRelogiodeno') Religion Denomination
        option(value='sAddress') Address
        option(value='sParentOcc') Parent Occupation

      #sEName.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input(type="text" name="ename" require)#searchEName.mdl-textfield__input
        label(for="searchEName").mdl-textfield__label English Name

      #sCName.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input(type="text" name="cname" require)#searchCName.mdl-textfield__input
        label(for="searchCName").mdl-textfield__label Chinese Name

      #sNation.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input(type="text" name="nation" require)#searchNation.mdl-textfield__input
        label(for="searchNation").mdl-textfield__label Nationality

      #sBirth.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input(type="text" name="placeOfBirth" require)#searchPlaceBirth.mdl-textfield__input
        label(for="searchPlaceBirth").mdl-textfield__label Place of Birth

      #sRelogion.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input(type="text" name="religion" require)#searchReligion.mdl-textfield__input
        label(for="searchReligion").mdl-textfield__label Religion

      #sRelogiodeno.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input(type="text" name="religionDeno" require)#searchReligioDeno.mdl-textfield__input
        label(for="searchReligioDeno").mdl-textfield__label Religion Denomination

      #sAddress.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input(type="text" name="address" require)#searchAddress.mdl-textfield__input
        label(for="searchAddress").mdl-textfield__label Address

      #sParentOcc.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input(type="text" name="parentOcc" require)#searchParentOcc.mdl-textfield__input
        label(for="searchParentOcc").mdl-textfield__label Parent Occupation


      br
      input(type="submit" value="submit").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
    hr
  //start print result
  #resultHere
    table(border="1")
      tr
        each v, index in ['First Name(Eng)' , 'Last Name(Eng)' , 'First Name(Chi)' , 'Last Name(Chi)', 'Spoken Language', 'Gender', 'Age', '	Birthday', 'Nationality', 'Place Of Birth', 'Religion', 'Religious Name', 'Embrace Date', 'Religious Denomination', 'E-Mail', '	Address', 'Telephone']
          if index % 6 == 0
            tr
          td
            div(onclick="clickCheckbox(this)")= v
              if index <= 8
                input(type="checkbox" onchange="attrSelectChecked(this,"+ index + ")" checked)
              else
                input(type="checkbox" onchange="attrSelectChecked(this,"+ index + ")")

    if respondObj
      if respondObj.length >= 1
        table#ListAllTable.sortable.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.mdl-shadow--2dp
          tr
            td.mdl-data-table__cell--non-numeric First Name(Eng)
            td.mdl-data-table__cell--non-numeric Last Name(Eng)
            td.mdl-data-table__cell--non-numeric First Name(Chi)
            td.mdl-data-table__cell--non-numeric Last Name(Chi)
            td.mdl-data-table__cell--non-numeric Spoken Language
            td.mdl-data-table__cell--non-numeric Gender
            td.mdl-data-table__cell--non-numeric Age
            td.mdl-data-table__cell--non-numeric Birthday
            td.mdl-data-table__cell--non-numeric Nationality
            td.mdl-data-table__cell--non-numeric Place Of Birth
            td.mdl-data-table__cell--non-numeric Religion
            td.mdl-data-table__cell--non-numeric Religious Name
            td.mdl-data-table__cell--non-numeric Embrace Date
            td.mdl-data-table__cell--non-numeric Religious Denomination
            td.mdl-data-table__cell--non-numeric E-Mail
            td.mdl-data-table__cell--non-numeric Address
            td.mdl-data-table__cell--non-numeric Telephone
            td.mdl-data-table__cell--non-numeric View
          each contentObj, index in respondObj
            a(href="/adminMain/detail/"+contentObj._id)
              if index%2 == 0
                - var color = "#ffe6ff"
              else
                - var color = '#e6ffe6'
              tr(style="background-color: "+color+";")
                td= contentObj.applicantInfo.eFirstName
                td= contentObj.applicantInfo.eLastName
                td= contentObj.applicantInfo.cFirstName
                td= contentObj.applicantInfo.cLastName
                td= contentObj.applicantInfo.spokenLanguage
                td= contentObj.applicantInfo.gender
                td= contentObj.applicantInfo.age
                td= new Date(contentObj.applicantInfo.birthday).toDateString()
                td= contentObj.applicantInfo.nation
                td= contentObj.applicantInfo.placeOfBirth
                td= contentObj.applicantInfo.religion
                td= contentObj.applicantInfo.religiousName
                td= new Date(contentObj.applicantInfo.embraceDate).toDateString()
                td= contentObj.applicantInfo.religiousDenomination
                td= contentObj.applicantInfo.email
                td= contentObj.applicantInfo.address
                td= contentObj.applicantInfo.telephone
                td
                  a(href="/adminMain/detail/"+contentObj._id) View
      else if respondObj.length == 0
        h3 No results.
