extends adminLayout

block content
  script(src="/javascripts/SettingsOfVaildation.js")
  center 
    h1 Settings
    #contentOfLogout
      center 
        #settingOfChangePw
          hr
          h4#paragraphOfSettings Change Password
            form(method="post" action="/adminMain/changePw")
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input(type="password" name="oldPassword" required)#inputUsername1.mdl-textfield__input
                label(for="inputUsername1").mdl-textfield__label Current Password
              br
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input(type="password" name="newPassword" onchange="validatePassword()" required)#inputUsername2.mdl-textfield__input
                label(for="inputUsername2").mdl-textfield__label New Password
              br
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input(type="password" name="confirmPassword" onkeyup="validatePassword()" required)#inputUsername3.mdl-textfield__input
                label(for="inputUsername3").mdl-textfield__label Comfirm Password
              br
              input(type="submit" value="Change")#submitChangePassword.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent 
        
        #settingOfAddUser
          hr
          h4#paragraphOfSettings Add User
            form(method="post" action="/adminMain/addUser")
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input(type="text" name="username" pattern="^((?!admin).)*$" required)#addUser1.mdl-textfield__input
                label(for="addUser1").mdl-textfield__label Username
              br
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input(type="password" name="password" onchange="validatePassword()" required)#addUser2.mdl-textfield__input
                label(for="addUser2").mdl-textfield__label Password
              br
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input(type="email" name="email" onkeyup="validatePassword()" required)#addUser3.mdl-textfield__input
                label(for="addUser3").mdl-textfield__label E-Mail
              br
              input(type="submit" value="Add")#submitChangePassword.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent 
        
        #settingOfEditUser
          hr
          #paragraphOfSettings
            h4 Existing Users
            if adminUsers
              table.sortable
                tr 
                  td Username 
                  td E-Mail 
                  td Reset Password
                  td Delete?
                each v in adminUsers
                  tr 
                    td
                      a= v.loginName
                    td
                      a= v.email 
                    if v.loginName == session.currentUser || v.loginName == "admin"
                      td
                        a N/A
                      td 
                        a N/A
                    else
                      td
                        form(method="post" action="/adminMain/resetPw/")
                          input(type="hidden" name="username" value=v.loginName)
                          input(type="hidden" name="email" value=v.email)
                          input(type="hidden" name="redirectUrl" value="/adminMain/settings/")
                          
                          input(type="submit" value="Reset Pw").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
                          
                      td 
                        a(href="/adminMain/removeUser/?uid="+v._id).mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect Delete
            else 
              h5 Nothing here...
