
#PersonalInfo
  hr
  #nameBlock
    h6 First, please tell me the name of your child.
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#eFirstNameDiv
      input(type="text" name="eFirstName" pattern="[A-z ]+" required)#eFirstName.mdl-textfield__input
      label(for="eFirstName").mdl-textfield__label First Name(English)

    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#eLastNameDiv
      input(type="text" name="eLastName" pattern="[A-z ]+" required)#eLastName.mdl-textfield__input
      label(for="eLastName").mdl-textfield__label Last Name (english)
    br
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#cFirstNameDiv
      input(type="text" name="cFirstName" required)#cFirstName.mdl-textfield__input
      label(for="cFirstName").mdl-textfield__label First Name(Chinese)

    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#cLastNameDiv
      input(type="text" name="cLastName" required)#cLastName.mdl-textfield__input
      label(for="cLastName").mdl-textfield__label Last Name(Chinese)
    br
    a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(onclick="isNameVaild()") Next
    br
  #languageBlock
    h6 Please tell me the Spoken languge of your child at home:
    select(name="spokenLang" form="registerForm" required)#spokenLang
      option
      option(value="Cantonese") Cantonese
      option(value="mandarin") Mandarin
      option(value="english") English
      option(value="latin") Latin
      option(value="french") French
      option(value="japanese") Japanese
      option(value="korean") Korean
      option(value="otherEuLang") Other European Languge
      option(value="otherChinese") Other Chinese
      option(value="realOther") Others
    br
    br
    a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(onclick="isLangVaild()") Next
  #basicInfoBlock
    h6 Next, Please tell me some basic information about your child.
    #genderBlock(required) Gender:
      label(for="male").mdl-radio.mdl-js-ripple-effect
      input(type="radio" id="male" name="gender" value="male" checked).mdl-radio__button
      span.mdl-radio__label Male
      label(for="female").mdl-radio.mdl-js-ripple-effect
      input(type="radio" id="female" name="gender" value="female").mdl-radio__button
      span.mdl-radio__label Female
    br
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#ageDiv
      input(type="number" min="1" max="18" name="age" required)#age.mdl-textfield__input
      label(for="age").mdl-textfield__label Age
      span.mdl-textfield__error Enter a vaild age!
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#birthdayDiv
      input(type="date" name="birthday" required)#birthday.mdl-textfield__input
      #tooltipBirthday.mdl-tooltip.mdl-tooltip--large(for="birthday") Birthday
    br
    a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(onclick="isBasicInfoVaild()") Next
  #askNationBlock
    h6 Your child is born on Hong Kong and is a Chinese?
    #nationAns
      a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(onclick="showOneBlock('askReligionBlock');fillNationHK()") Yes
      br
      br
      a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(onclick="showOneBlock('nationBlock')") NO

  #nationBlock
    h6 What the Nationality is of your child?
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#nationDiv
      input(type="text" name="nation" required)#nation.mdl-textfield__input
      label(for="nation").mdl-textfield__label Nationality
    br
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#placeOfBirthDiv
      input(type="text" name="placeOfBirth" required)#placeOfBirth.mdl-textfield__input
      label(for="placeOfBirth").mdl-textfield__label Place of birth
    br
    br
    a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(onclick="nationVaild()") Next

  br
  #askReligionBlock
    h6 Your child have any Religion?
    #ReligionAns
      a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(onclick="fillReligionHK();showOneBlock('ansReligionBLock')") Yes
      br
      br
      a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(onclick="showOneBlock('contactBlock')") NO

  #ansReligionBLock
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#religionDiv
      input(type="text" name="religion" required)#religion.mdl-textfield__input
      label(for="religion").mdl-textfield__label Religion

    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#religiousNameDiv
      input(type="text" name="ReligiousName" required)#religiousName.mdl-textfield__input
      label(for="religiousName").mdl-textfield__label Religious name
    br
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#embraceDateDiv
      input(type="date" name="embraceDate" required)#embraceDate.mdl-textfield__input
      #tooltipembraceDate.mdl-tooltip.mdl-tooltip--large(for="embraceDate") Embrace Date
    br
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#religiousDenominationDiv
      input(type="text" name="religiousDenomination" required)#religiousDenomination.mdl-textfield__input
      label(for="religiousDenomination").mdl-textfield__label Religious Denomination
    br
    br
    a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(onclick="checkReligion()") Next

  br
  #contactBlock
    h6 Please give me contact information can contact your child or you.
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#emailDiv
      input(type="email" name="email" required)#email.mdl-textfield__input
      label(for="email").mdl-textfield__label E-Mail
    br
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#addressDiv
      input(type="text" name="address" required)#address.mdl-textfield__input
      label(for="address").mdl-textfield__label Address
    br
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#telephoneDiv
      input(type="number" name="telephone" required)#telephone.mdl-textfield__input
      label(for="telephone").mdl-textfield__label Contact Number
    br
    a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(onclick="checkContact()") Next

  br
br
