extends ../layout

block content
  center 
    h1 You have submit the application successfully!
    #contentOfLogout
      center 
        br
        a(href="/").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent Home page
