#familyInfo
  h4 information of Family
  hr
  h5 Family Member 1
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#eFirstnameDiv1
    input(type="text" name="parent[0][eFirstname]" required)#eFirstname1.mdl-textfield__input
    label(for="eFirstname1").mdl-textfield__label First Name(English)

  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#eLastnameDiv1
    input(type="text" name="parent[0][eLastname]" required)#eLastname1.mdl-textfield__input
    label(for="eLastname1").mdl-textfield__label Last Name(English)
  br
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#cFirstnameDiv1
    input(type="text" name="parent[0][cFirstname]" required)#cFirstname1.mdl-textfield__input
    label(for="cFirstname1").mdl-textfield__label First name (Chinese)

  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#cLastnameDiv1
    input(type="text" name="parent[0][cLastname]" required)#cLastname1.mdl-textfield__input
    label(for="cLastname1").mdl-textfield__label Last name(Chinese)
  br
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#relationshipDiv1
    input(type="text" name="parent[0][relationship]" required)#relationship1.mdl-textfield__input
    label(for="relationship1").mdl-textfield__label Relationship with applicant

  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#ageDiv1
    input(max="120" min="1" type="number" name="parent[0][age]" required)#age1.mdl-textfield__input
    label(for="age1").mdl-textfield__label Age
  br
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#hkidDiv1
    input(type="text" name="parent[0][hkid]" required)#hkid1.mdl-textfield__input
    label(for="hkid1").mdl-textfield__label HKID Number

  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#academicQualifyDiv1
    input(type="text" name="parent[0][academicQualify]" required)#academicQualify1.mdl-textfield__input
    label(for="academicQualify1").mdl-textfield__label Academic Qualification
  br
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#occupationDiv1
    input(type="text" name="parent[0][occupation]" required)#occupation1.mdl-textfield__input
    label(for="occupation1").mdl-textfield__label Occupation

  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label#contactNumDiv1
    input(type="number" name="parent[0][contactNum]" required)#contactNum1.mdl-textfield__input
    label(for="contactNum1").mdl-textfield__label Contact Number
  br
  h6 Salary:  
  select(name="salary" form="registerForm" required)#salary
    option 
    option(value="<=100,000") <=100,000
    option(value="100,001 - 200,000") 100,001 - 200,000
    option(value="200,001 - 500,000") 200,001 - 500,000 
    option(value="500,001 - 1,000,000") 500,001 - 1,000,000
    option(value="1,000,001 - 3,000,000") 1,000,001 - 3,000,000
    option(value="3,000,001 - 5,000,000") 3,000,001 - 5,000,000 
    option(value="5,000,001 - 10,000,000") 5,000,001 - 10,000,000
    option(value=">= 10,000,000") >= 10,000,000
    
  br
    
#addMoreFamilyMember
  b Have more family members?
    br
    a(onclick="javascript:addFamilyGroup()").mdl-button.mdl-js-button
      div Yes, more!
      
    a(onclick="showOneBlock('endBlock')").mdl-button.mdl-js-button
      div No, Finish!
hr
