extends ../layout

block content
  h1 Registesion Form -- File Upload
  p!= remarks
  
  center
    form(method="post" enctype='multipart/form-data')
      
        input(type="file" name="fileUpload" accept="image/jpeg,image/png")
        input(type="text" name="comment")
        input(type="hidden" name="step" value=step)
        //p= stepMsg
        #noticeWhenApplication
    
        br
        p= msg 
        input(type="submit" value="Upload&Next").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
        pre
        a(href="/parent/pwSetting/?id="+id).mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent Finish Upload
