hr
#loadFromExt
  h3 Load From Other Host Domain
  a(onclick="toggleLoadExt()") SHOW/HIDE
  #mainContentOfLoadExt
    form(method="post" action="javascript:alert('Information Not Corrent!')")#loadExtForm
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input(type="url" name="extHostDomain" onkeyup="loadExtFunc()" pattern="http.+" value=hostDomain required )#extHostDomain.mdl-textfield__input
        label(for="extHostDomain").mdl-textfield__label Host Domain
      br
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input(type="text" name="extUid" value=uid onkeyup="loadExtFunc()" required)#extUid.mdl-textfield__input
        label(for="extUid").mdl-textfield__label ID
    
      br
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input(type="password" name="extPassword" onkeyup="loadExtFunc()" pattern=".{8,}" title="password no less than 7 charaters" required)#extPassword.mdl-textfield__input
        label(for="extPassword").mdl-textfield__label Password
      br
      input(type="hidden" name="jsonParent")#jsonParent
      input(type="submit" value="LOAD" disabled).mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent#loadExtButton
    
