extends ../layout

block content
  center 
    h4 reviewv the application
    table(broader="1")#ListAllTable
      include detailModules/applicantBlock.pug
      include detailModules/parentBlock.pug
      include detailModules/uploadedFiles.pug
    form(method="post" action="/parent/updateFromExt/")
      input(type="hidden" name="json" value=json)
      br
      #tajzoija
        input(type="checkbox" id="knownEverthing" name="known" required="required").mdl-checkbox__input
        span.mdl-checkbox__label(onclick="document.getElementById('knownEverthing').checked = !document.getElementById('knownEverthing').checked")
          = "I am sure the information below is truely."
      br
      input(type="submit").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
      br
      br
      br
