extends patNotLayout

block content
  link(rel='stylesheet', href='/stylesheets/parentStyle.css')
  script(src="/javascripts/parentFunction.js")
  p 
  
    center
      h3 Registesion Closed.
      #notAccpet!= mdNotaccept
    
