extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/parentStyle.css')
  script(src="/javascripts/parentFunction.js")
  p!= remarks
  p 
    center
      if md
        #mdAttention!= md.mdAttention
      else 
        #mdAttention 
      include loadFromExt
      #appForm
        h2  Application Form
        br
        h9 Something was wrong? 
        input.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(type="reset" value="Restart" onclick="showOneBlock('nameBlock')") 
        
        form(method="post")#registerForm
          #completeForm
            #applicantBlock
              include applicantInfo.pug
            #familyBlock
              include familyInfo.pug
          #endBlock
            #noticeWhenApplication
              h5 Notes:
              p#noticeMainWhenApplication Please ensure you know everything below.
            label(for="knownEverthing")
              if md
                #mdTerms!= md.mdTerms
              input(type="checkbox" id="knownEverthing" name="known" required="required").mdl-checkbox__input
              span.mdl-checkbox__label(onclick="document.getElementById('knownEverthing').checked = !document.getElementById('knownEverthing').checked")
                = "I am sure the information below is truely."
            br
            input(type="submit" value="submit").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
            
