extends ../layout

block content
  h1 Registesion Form -- Password Setup
  p!= password
  
  center
    form(method="post")
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input(type="text" name="hostDomain" value=hostDomain required readonly)#hostDomain.mdl-textfield__input
        label(for="hostDomain").mdl-textfield__label Host Domain
      br
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input(type="text" name="uid" value=uid required readonly)#uid.mdl-textfield__input
        label(for="uid").mdl-textfield__label ID
    
      br
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input(type="password" name="password" pattern=".{8,}" title="password no less than 7 charaters" required)#password.mdl-textfield__input
        label(for="password").mdl-textfield__label Password
      
      
        //p= stepMsg
        
      div
    
        br
        p= msg 
        input(type="submit" value="Save&Done").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
    
