link(rel="stylesheet" href="/stylesheets/ext/material.min.css")
script(src="/javascripts/ext/material.min.js")
link(rel="stylesheet" href="/stylesheets/indexPage.css")
block content
  center
    h1 Registration System
  #fullContent
    center
      #mainLeftButton.mdl-button.mdl-js-button.mdl-button--raised
        a(href="/parent/") Register Form(Perent)
      br
      #mainRIghtButton.mdl-button.mdl-js-button.mdl-button--raised
        a(href="/admin/") Admin Page(Staff)
        
