doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/ext/material.min.css")
    script(src="/javascripts/ext/material.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    script(src="/javascripts/parentAjax.js")
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header
        .mdl-layout__header-row
          // Title
          span.mdl-layout-title Primary School Registesion System
          // Add spacer, to align navigation to the right
          .mdl-layout-spacer
          // Navigation. We hide it in small screens.
          nav.mdl-navigation.mdl-layout--large-screen-only
            a.mdl-navigation__link(onclick="showHome();") Home
            a.mdl-navigation__link(onclick='showNewApp()') New Application
            a.mdl-navigation__link(onclick='showOldApp()') From Other Domain
            a.mdl-navigation__link(href='/admin/') Admin Console
      .mdl-layout__drawer.mdl-layout--small-screen-only
        // Title
        span.mdl-layout-title.mdl-layout--large-screen-only Menu
        // Navigation. We hide it in small screens.
        nav.mdl-navigation
          a.mdl-navigation__link(onclick="showHome();") Home
          a.mdl-navigation__link(onclick='showNewApp()') New Application
          a.mdl-navigation__link(onclick='showOldApp()') From Other Domain
          a.mdl-navigation__link(href='/admin/' target="_blank") Admin Console
      main.mdl-layout__content
        .page-content
          // Your content goes here
          block content
