each parent, pIndex in json.familyInfo
  tr
    td(colspan="2") 
      h6
        b Parent #{pIndex+1}
  tr 
    td First Name(Eng)
    td= parent.eFirstName
  tr 
    td Last Name(Eng)
    td= parent.eLastName
    
  tr 
    td First Name(Chi)
    td= parent.cFirstName
    
    
  tr 
    td Last Name(Chi)
    td= parent.cLastName
    
    
  tr 
    td Relationship with Applicant
    td= parent.relationship
    
    
  tr 
    td Age
    td= parent.age
    
    
  tr 
    td HKID No.
    td= parent.hkid
    
    
  tr 
    td Academic Qualification
    td= parent.academicQualify
    
    
  tr 
    td Occupation
    td= parent.occupation
    
    
  tr 
    td Contact Number
    td= parent.contactNum
    
