each file, pIndex in json.fileUploads
  tr
    td(colspan="2") 
      h6
        b File #{pIndex+1}: #{file[0].comment}
  tr 
    td(colspan="2")
      img(src=file[0].filePath).imgInDetail
      hr 
  
