
#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background: #ddd;
  color: black;
}
#navbarMain{
  float: left;
}
#navbarRight{
  float: right;
}
#mainContent {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

#paragraphOfSettings{
}
#ListAllTable, #ListAllTable th, #ListAllTable td{
  border: 1px solid black;
}
.imgInDetail{
  max-width:500px;
  max-height: 500px;
}
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
table.sortable tr td {
  color: grey;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}
