.hrText {
position:relative;
text-align:center;}

.hrText span {
    display:inline-block;
    padding:0 10px;
    background:#fff;
}
.hrText:before {
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    left:0;
    right:0;
    top:50%;
    height:1px;
    background:#ccc;
}
