tr
  td(colspan="2")  
    h6
      b Applicant Information

tr 
  td First Name(Eng)
  td= json.applicantInfo.eFirstName
tr
  td Last Name(Eng)
  td= json.applicantInfo.eLastName
tr
  td First Name(Chi)
  td= json.applicantInfo.cFirstName
tr
  td Last Name(Chi)
  td= json.applicantInfo.cLastName
tr
  td Spoken Language
  td= json.applicantInfo.spokenLanguage
tr
  td Gender 
  td= json.applicantInfo.gender
tr
  td Age 
  td= json.applicantInfo.age
tr
  td Birthday
  td= json.applicantInfo.birthday
tr
  td Nationality
  td= json.applicantInfo.nation
tr 
  td Place Of Birth
  td= json.applicantInfo.placeOfBirth
tr
  td Religion
  td= json.applicantInfo.religion
tr
  td Religious Name
  td= json.applicantInfo.religiousName
tr
  td Embrace Date 
  td= json.applicantInfo.embraceDate
tr
  td Religious Denomination 
  td= json.applicantInfo.religiousDenomination
tr
  td E-Mail
  td= json.applicantInfo.email
tr
  td Address 
  td= json.applicantInfo.address
tr
  td Telephone
  td= json.applicantInfo.telephone
  
